*.png
*.dds
*.psd
*.ttf
*.otf
*.zip
*.rar
*.h
*.hlsl
*.techsetdef
*Readme.txt
!Custom/Standalone/Waypoints/screenshots/preview_01.png
!Custom/Standalone/Waypoints/screenshots/preview_02.png
!Custom/Standalone/Waypoints/screenshots/preview_03.png
!Custom/Standalone/Minimap/screenshots/preview_01.png