*.png
*.dds
*.psd
*.ttf
*.otf
*.zip
*.rar
*.h
*.hlsl
*.techsetdef
*Readme.txt
!Custom/Standalone/Waypoints/screenshots/preview_01.png
!Custom/Standalone/Waypoints/screenshots/preview_02.png
!Custom/Standalone/Waypoints/screenshots/preview_03.png
!Custom/Standalone/Minimap/screenshots/preview_01.png
!Custom/Standalone/End-game menu/screenshots/preview_01.png
!Custom/Standalone/Minimap/_custom/kingslayer_kyle/ui/t7/hud/minimap/ui_t7_hud_minimap_circle_bg.png
!Custom/Standalone/Minimap/_custom/kingslayer_kyle/ui/t7/hud/minimap/ui_t7_hud_minimap_circle_mask.png
!Custom/Standalone/Buyable Perk Machine/screenshots/preview_01.png